<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  
  <!-- Declare Java JDT 2 EMF Java Modisco converter -->
  <extension point="org.eclipse.gmt.modisco.jm2t.core.modelConverterTypes">
    <modelConverterType
       id="org.eclipse.gmt.modisco.jm2t.modelconverter.javamodisco"
       name="%modelConverterTypeJavaModiscoLabel"
       description="%modelConverterTypeJavaModiscoDescription"
       categoryId="org.eclipse.gmt.modisco.jm2t.modelconverter.category.m2emf"
       class="org.eclipse.gmt.modisco.jm2t.modelconverter.javamodisco.internal.core.JavaModiscoModelConverter">
    </modelConverterType>
  </extension>
  
</plugin>