<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Pojo Bindable OSGi - EclipseLink"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="org.eclipse.core.databinding.pojo.bindable.equinox,org.eclipse.core.examples.databinding.pojo.bindable.equinox.fragment"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dosgi.framework.extensions=org.eclipse.persistence.jpa.equinox.weaving"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="org.eclipse.equinox.preferences@default:default,org.eclipse.core.jobs@default:default,org.eclipse.core.contenttype@default:default,org.eclipse.equinox.app@default:default,org.eclipse.core.runtime@default:default,org.eclipse.equinox.common@default:default,org.eclipse.equinox.registry@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="com.springsource.org.objectweb.asm.commons@default:default,com.springsource.org.objectweb.asm@default:default,org.eclipse.osgi@:,org.eclipse.persistence.jpa.equinox.weaving@default:false,org.eclipse.core.databinding.pojo.bindable@default:default,org.eclipse.core.examples.databinding.pojo.bindable.model@default:default,com.springsource.org.objectweb.asm.tree@default:default,org.eclipse.persistence.example.jpa.equinox.bindable.fragment@default:false,org.eclipse.persistence.jpa.equinox.bindable@default:default,org.eclipse.core.databinding.pojo.bindable.equinox.weaving@default:false,org.eclipse.core.examples.databinding.pojo.bindable.equinox@default:default"/>
</launchConfiguration>
