<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="SpringWeaver - EclipseLink- TargetPlatform">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/equinox-aspects" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/spring-orm" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/jpa-eclipselink" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/javax" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/spring" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/spring-dm" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/dbcp" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/h2" type="Directory"/>
<location path="${workspace_loc}/springweaver-target-platform/bundles/slf4j-log4j" type="Directory"/>
</locations>
</target>
