<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.akrogen.dynaresume.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.akrogen.dynaresume.Perspective"
            id="org.demo.simpleclient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.eclipse.springframework.util.SpringExtensionFactory:myview"
            id="org.demo.simpleclient.view">
      </view>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.akrogen.dynaresume.simpleclient.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.akrogen.dynaresume.simpleclient.commands.category"
            id="org.akrogen.dynaresume.simpleclient.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.akrogen.dynaresume.simpleclient.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
     
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.akrogen.dynaresume.simpleclient.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.akrogen.dynaresume.simpleclient.commands.sampleCommand"
                  id="org.akrogen.dynaresume.simpleclient.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.akrogen.dynaresume.simpleclient.toolbars.sampleToolbar">
            <command
                  commandId="org.akrogen.dynaresume.simpleclient.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.akrogen.dynaresume.simpleclient.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
     
      <handler
            class="org.eclipse.springframework.util.SpringExtensionFactory:sampleHandler"
            commandId="org.akrogen.dynaresume.simpleclient.commands.sampleCommand">
      </handler>
   </extension>

</plugin>
