<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="dynaresume">
	<property name="dialect">org.hibernate.dialect.H2Dialect</property>
		<mapping class="org.dynaresume.common.domain.Address" />
		<mapping class="org.dynaresume.common.domain.Collaboration" />
		<mapping class="org.dynaresume.common.domain.Country"/>
		<mapping class="org.dynaresume.common.domain.Group"/>
		<mapping class="org.dynaresume.common.domain.LegalEntity" />
		<mapping class="org.dynaresume.common.domain.Agency" />
		<mapping class="org.dynaresume.common.domain.NaturalPerson" />
		<!-- basebean -->
		<mapping class="org.dynaresume.basebean.BaseBean" />
		
	</session-factory>
</hibernate-configuration>
