<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- PopupMenu : Add JM2T nature -->
   <extension
         id="org.eclipse.gmt.modisco.jm2t.PopupMenu"
         name="PopupMenu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass=" org.eclipse.jdt.core.IJavaProject"
            adaptable="true"
            id="org.eclipse.gmt.modisco.jm2t.PopupMenuObject">
         <visibility>
           <not>
              <objectState
                    name="nature"
                    value="org.eclipse.gmt.modisco.jm2t.core.nature">
              </objectState> 
           </not>
         </visibility>
         <menu
               label="%JM2T.Popupmenu"
               path="additions"
               id="org.eclipse.gmt.modisco.jm2t.PopupMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.gmt.modisco.jm2t.internal.ui.actions.AddJM2TNatureActionDelegate"
               enablesFor="1"
               id="org.eclipse.gmt.modisco.jm2t.internal.ui.actions.AddJM2TNatureActionDelegate"
               label="%AddJM2TNatureAction.label"
               icon="icons/obj16/jm2t.gif" />
      </objectContribution>
   </extension>
   
   <!-- PopupMenu : Remove JM2T capabilities -->
   <extension
         id="org.eclipse.gmt.modisco.jm2t.PopupMenu"
         name="PopupMenu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="true"
            id="org.eclipse.gmt.modisco.jm2t.PopupMenuObject">
         <visibility>           
          <objectState
                name="nature"
                value="org.eclipse.gmt.modisco.jm2t.core.nature">
          </objectState>            
         </visibility>
         <menu
               label="%JM2T.Popupmenu"
               path="additions"
               id="org.eclipse.gmt.modisco.jm2t.PopupMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.gmt.modisco.jm2t.internal.ui.actions.RemoveJM2TNatureActionDelegate"
               enablesFor="1"
               id="org.eclipse.gmt.modisco.jm2t.internal.ui.actions.RemoveJM2TNatureActionDelegate"
               label="%RemoveJM2TNatureAction.label"
               icon="icons/obj16/jm2t.gif" />
      </objectContribution>
   </extension>
   
   <!-- Java M2T Root property pages -->
   <extension
     point="org.eclipse.ui.propertyPages">
     <page
         class="org.eclipse.gmt.modisco.jm2t.internal.ui.preferences.JM2TPropertyPage"
         id="org.eclipse.gmt.modisco.jm2t.ui.propertyPage"
         name="%JM2TRootPropertyPage.name">
       <enabledWhen>
         <adapt type="org.eclipse.core.resources.IProject">
           <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.gmt.modisco.jm2t.core.nature"/>
         </adapt>         
       </enabledWhen>
     </page>         
   </extension>
      
</plugin>