<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  
  <!-- Declare Java JDT model selector -->
  <extension point="org.eclipse.gmt.modisco.jm2t.core.modelConverterTypes">
    <modelConverterType
       id="org.eclipse.gmt.modisco.jm2t.modelconverter.jdt"
       name="%modelConverterTypeJDTLabel"
       description="%modelConverterTypeJDTDescription"
       categoryId="org.eclipse.gmt.modisco.jm2t.modelconverter.category.simple"
       class="org.eclipse.gmt.modisco.jm2t.modelconverter.jdt.core.JDTModelConverter">
    </modelConverterType>
  </extension>
  
</plugin>