<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.gmt.modisco.jm2t.ui.generatorImages">
      <image
         id="org.eclipse.gmt.modisco.jm2t.acceleo2"
         icon="icons/obj16/acceleo2.gif"
         typeIds="org.eclipse.gmt.modisco.jm2t.generator.acceleo2"/>
    </extension>                  
</plugin>     