<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  
  <extension point="org.eclipse.gmt.modisco.jm2t.core.generatorTypes">
    <generatorType
       id="org.eclipse.gmt.modisco.jm2t.generator.acceleo2"
       name="%generatorTypeAcceleo2Label"
       description="%generatorTypeAcceleo2Description"
       class="org.eclipse.gmt.modisco.jm2t.generator.acceleo2.internal.core.Acceleo2Generator"
       modelConverterCategories="M2EMF" >
    </generatorType>
  </extension>
  
</plugin>