<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bindable-pojo-test/src/org/eclipse/core/examples/databinding/pojo/bindable/PojoPersonBindableTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.core.examples.databinding.pojo.bindable.PojoPersonBindableTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bindable-pojo-test"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:lib/org.eclipse.core.databinding.pojo.bindable_1.0.0.jar -Dbindable.packages=org.eclipse.core.examples.databinding.pojo.bindable.model&#13;&#10;-Dbindable.debug=true&#13;&#10;-Dbindable.gen_basedir=D://tmp/"/>
</launchConfiguration>
