<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.5"?>

<target name="DynaResume OSGi TP Server and Client">
<locations>
<location path="${workspace_loc:/org.dynaresume.targetplatform/target/targetPlatform/plugins}" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.datechooser.feature.feature.group" version="1.0.0.HEAD"/>
<repository location="http://download.eclipse.org/technology/nebula/datechooser/update-N/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.rcp.source.feature.group" version="3.5.1.R35x_v20090811-9SA0FxVFqE70OL1ARMrfcO6e7BA6"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.5.1.R35x_v20090910-9gEeG1_FthkNDSP2odXdThaOu9GFDPn83DGB7"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
