<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  
  <extension point="org.eclipse.gmt.modisco.jm2t.core.modelProviderTypes">
    <modelProviderType
       id="org.eclipse.gmt.modisco.jm2t.modelprovider.javamodisco"
       name="%modelProviderTypeJavaModiscoLabel"
       description="%modelProviderTypeJavaModiscoDescription"
       class="org.eclipse.gmt.modisco.jm2t.modelprovider.internal.javamodisco.JavaModiscoModelProvider">
    </modelProviderType>
  </extension>
  
</plugin>