<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="generatorTypes" name="%extensionPointGeneratorTypes" schema="schema/generatorTypes.exsd"/>
	<extension-point id="generatorTypes" name="%extensionPointModelProviders" schema="schema/modelProviders.exsd"/>
  
	<extension id="nature"
         point="org.eclipse.core.resources.natures"
         name="%JM2TProject">
      <runtime>	
         <run class="org.eclipse.gmt.modisco.jm2t.internal.core.JM2TProject"/>
      </runtime>
   </extension>
    
</plugin>   